---
layout: page
title : Tableau de suivi
header : Post Archive
lang: fr
---
{% include JB/setup %}

<!-- Add Google Analytics authorization button -->
<button id="authorize-button">
   Authorize Analytics
</button>

<div class="row-fluid">
   <div class="span6">
     <div id="chart-visits">
     </div>
   </div><!--/span6-->
   <div class="span6">
     <div id="chart-page">
     </div>			
   </div><!--/span6-->
</div><!--row-fluid-->
<div class="row-fluid">
  <div class="span6">
		<div id="chart-performance">
		</div>
  </div><!--/span6-->
  <div class="span6">
     <div id="chart-source">
     </div>
	</div><!--/span6-->
</div><!--row-fluid-->
<div class="row-fluid">
  <div class="span6">
		<div id="chart-pagespeed-ressources">
			<h3>Répartition des ressources</h3>
    </div>
  </div><!--/span6-->
  <div class="span6">
		<div id="chart-pagespeed-gauge">
			<h3>Score qualité</h3>
		</div>
  </div><!--/span6-->
</div><!--row-fluid-->

<script src="https://www.google.com/jsapi"></script>
<script src="/assets/script/gadash-1.0.js"></script>
<script src="https://apis.google.com/js/client.js?onload=gadashInit"></script>
<script type="text/javascript">
	{% include tools/gadash.js %}
</script>
<script type="text/javascript">
	{% include tools/gpsdash.js %}
</script>
